<!DOCTYPE html>
<html>
<head>
    <title>Pashto AI</title>
</head>

<body>

    <h1>Pashto Translator</h1>

    <p>
        اردو، رومن اردو، یا English لکھیں
    </p>

    <form method="POST">

        <textarea
            name="text"
            rows="6"
            cols="50"
            placeholder="Type here..."
        ></textarea>

        <br><br>

        <button type="submit">
            Translate
        </button>

    </form>

    <h2>Pashto Translation:</h2>

    <p>{{ translated_text }}</p>

</body>
</html>